.learn-word{
  .learn-word-wrapper{
    text-align: center;
    .list-title{
      color: blueviolet;
      margin-bottom: 30px;
    }
    .list-wrapper-inner{
      display: flex;
      flex-direction: column;
      align-items: center;
      margin: 0 20px 20px 0;
      .list-wrapper-english-word{
        font-weight: 700;
      }
      .list-wrapper-rus-word{
        margin-bottom: 10px;
      }
      .already{
        background-color: darkcyan !important;
      }
      .list-wrapper-word{
        padding: 10px;
        width: 116px;
        background-color: springgreen;
        color: white;
        cursor: pointer;
        border: 1px solid transparent;
        margin-bottom: 10px;
      }
    }
  }
}
.list-wrapper{
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}
.list-more{
  width: 116px;
  padding: 10px;
  margin-right: 16px;
  margin-top: 20px;
  background-color: #b98afc;
  border: 1px solid transparent;
  color: white;
  cursor: pointer;
}
