.result-inner{
  display: flex;
  justify-content: center;
  .result-inner-item{
    position: relative;
    margin-right: 20px;
    padding: 10px;
    &:last-child{
      margin-right: 0;
    }
    .inner-background-check{
      position: absolute;
      right: -13px;
      top: -15px;
      width: 30px;
      height: 30px;
      border-radius: 50%;
      background-color: red;
    }
    .inner-check{
      z-index: 2;
      position: absolute;
      right: -8px;
      top: -9px;
    }

  }
}
.result-inner-item-link{
  cursor: pointer;
  border-radius: 2px;
  border: 1px solid darkgray;
  padding: 10px;
  transition: all .2s;
  user-select: none;
  &:hover{
    background-color: springgreen;
    color: white;
  }
}
.result{
  margin-bottom: 50px;
}
