.test {
  text-align: center;
  display: flex;
  flex-direction: column;
  height: 100vh;
  .test-inner-title{
    color: black;
    margin-bottom: 30px;
  }
  .test-inner{
    margin-bottom: 60px;
    .test-inner-item{
      display: flex;
      justify-content: center;
      align-items: center;
      border: 1px solid black;
      padding: 20px;
      margin: 0 10px 0 0;
      width: 200px;
      cursor: pointer;
    }
  }
}

.test-inner-wrapper{
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}
.test-back{
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%,-50%);
  border: 1px solid darkgray;
  padding: 10px;
  transition: all .2s;
  &:hover{
    background-color: springgreen;
    color: white;
  }
}